{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="purple half-padded half-gap-bottom truncate">
    <b><i class="icon-chevron-right gap-right"></i>{{ thread.subject }}</b>
</div>

<div class="ten twelfths skip-one">
    {% for message in thread.messages %}
        <div class="messenger_thread_message half-padded">
            <div class="messenger_thread_message_info question-bg">
                <img class="pull-left half-gapped" src="{{ message.sender.picture }}" style="border-radius:50%; height:14px; width:14px;"/>{% trans with {'%sender%': message.sender.nickname|e, '%date%': message.createdAt|localizeddate('short', 'short', 'fr-FR')} from 'FOSMessageBundle' %}message_info{% endtrans %}
            </div>

            <div class="messenger_thread_message_body half-padded bordered charcoal" id="message_{{ message.id }}">
                {{ message.body }}
            </div>
        </div>
    {% endfor %}

    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
        {{ form_widget(form) }}
        <div class="gapped">
            <button type="submit" class="pull-left round button question" title="{% trans from 'FOSMessageBundle' %}reply{% endtrans %}"><i class="icon-reply"></i>&nbsp;{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</button>
        </div>
    </form>
</div>

{% endblock %}
