{# app/Resources/views/navigation/presentation.html.twig #}

{% extends './base.html.twig' %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/leaflet/leaflet.css') }}" />
{% endblock %}
{% block headerscripts %}
            <script src="{{ asset('libs/leaflet/leaflet.js') }}"></script>
{% endblock %}


{% block body %}
                <div class="two thirds padded">
                    <div class="noicon" id="maCarte" style="width: 100%; height: 600px"></div>
                    <script>
                        var maCarte = L.map('maCarte').setView([43.98, 4.85], 12);
                        var markers = [];

                        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_token }}', {
                        attribution: 'Map data <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery Â© <a href="http://mapbox.com">Mapbox</a>',
                        maxZoom: 17,
                        id: 'mapbox.outdoors', // 'mapbox.streets' 'mapbox.outdoors' 'mapbox.light'
                        accessToken: '{{ mapbox_token }}'
                        }).addTo(maCarte);

                        var craneIcon = L.icon({
                            iconUrl: "{{ asset('img/marker.png') }}",
                            shadowUrl: "{{ asset('img/shadow_marker.png') }}",

                            iconSize:     [32, 32], // size of the icon
                            shadowSize:   [32, 32], // size of the shadow
                            iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
                            shadowAnchor: [16, 32],  // the same for the shadow
                            popupAnchor:  [-8, -32] // point from which the popup should open relative to the iconAnchor
                        });

                    </script>
                </div>
                <div class="one third padded">
                    <h3>Chantiers</h3>
                    <ul>
                        {% for chantier in chantiers %}
                            <li><b>{{ chantier.nom|e }}</b> situé {{ chantier.adresse.rue|e }} à {{ chantier.adresse.ville|e }} ({{ chantier.adresse.lat|number_format(4, '.', '') }}, {{ chantier.adresse.lon|number_format(4, '.', '') }})</li>
                            <script>
                                L.marker([{{ chantier.adresse.lat }}, {{ chantier.adresse.lon }}], {icon: craneIcon}).addTo(maCarte)
                                    .bindPopup('<b>{{ chantier.nom|replace({"\n":'', "\r":''})|e }}</b><br> situé {{ chantier.adresse.rue|replace({"\n":'', "\r":''})|e }} à {{ chantier.adresse.ville|replace({"\n":'', "\r":''})|e }}');
                            </script>
                        {% endfor %}
                    </ul>
                </div>
{% endblock  %}

