{# app/Resources/views/navigation/resultats.html.twig #}

{% extends 'base.html.twig' %}

{% block navigation %}
        <div class="container padded">
                <div class="six eigths centered container charcoal">
                    <nav role="navigation" class="nav nocollapse orange" title="Menu">
                        <ul role="menubar">
                            <li><a href="{{ url('accueil') }}"><i class="icon-rocket"></i> Le chantier du futur</a></li>
                            <li><a href="{{ url('presentation') }}"><i class="icon-lightbulb"></i> Les enjeux de transformation</a></li>
                            <li><a href="{{ url('resultats') }}"><i class="icon-dashboard"></i> Résultats de l'enquête</a></li>
                            <li><a class="noicon" href="{{ url('rapport') }}"><i class="icon-file-text"></i> Rapport complet</a></li>
                            <li><a href="{{ url('experimentation') }}"><i class="icon-beaker"></i> Expérimentation</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
{% endblock  %}

{% block body %}
            <div class="one whole centered gapped padded">
                <iframe height="600px" width="100%" style="border:none;" src="https://prezi.com/p/zopnx_vnvj9k/embed"></iframe>
            </div>
{% endblock  %}

