{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
        <div class="two thirds centered white box bordered double-padded">
            <h4 class="asphalt box">
                <img src="{{ user.picture }}" style="float:left; margin-right: 8px; width:64px; height:64px; border-radius: 50%;"/>
                {{ user.realname}}
            </h4>
            <br>
            <p><b>Nom complet:</b> {{ user.realname }}</p>
            <p><b>Pseudo:</b> {{ user.nickname }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <div class="tabs double-padded">
                <ul role="tablist">
                    <li role="tab" aria-controls="#tab1"><i class="icon-building icon-2x blue"></i>&nbsp;&nbsp;Entreprise</li>
                    <li role="tab" aria-controls="#tab2"><i class="icon-link icon-2x orange"></i>&nbsp;&nbsp;Comptes associés</li>
                    <li role="tab" aria-controls="#tab3"><i class="icon-credit-card icon-2x purple"></i>&nbsp;&nbsp;Formule d'abonnement</li>
                </ul>
                <div id="tab1" role="tabpanel">
                    <h1 class="blue">Entreprise</h1>
                    <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/240x80/3498db/ffffff"></div>
                    <div class="gap-top-small-tablet placeholderText redacted-script" 
                        data-placeholder-type="words" 
                        data-placeholder-amount="100">
                    </div>
                </div>
                <div id="tab2" role="tabpanel">
                    <h1 class="orange">Comptes associés</h1>
                    <div class="gap-top-small-tablet placeholderText redacted-script" 
                        data-placeholder-type="words" 
                        data-placeholder-amount="100">
                    </div>
                </div>
                <div id="tab3" role="tabpanel">
                    <h1 class="purple">Formule d'abonnement</h1>
                    <div class="gap-top-small-tablet placeholderText redacted-script" 
                        data-placeholder-type="words" 
                        data-placeholder-amount="100">
                    </div>
                </div>                
            </div>
            {% if user.identityprovider == 'BTP 4.0' %}
                <a class="three tenths success round button" href="{{ url('fos_user_profile_edit') }}"><i class="icon-pencil" title="modifier" style="float:left; margin-left:4px;"></i>Modifier</a>
            {% endif %}
            <p class="align-right right-pad">vous êtes connecté via votre compte {{ user.identityprovider }}<img src="{{ asset('img/logos/') }}{{ user.identityprovider }}.png" style="position: relative; top: 4px; margin-left:5px; margin-right:5px; width:20px; height:20px;"/></p>
        </div>
</div>
