<!DOCTYPE html>
<html lang="fr" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}BTP 4.0 - Le chantier du futur{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Modernizr -->
        <script src="{{ asset('/js/modernizr-2.6.2.min.js') }}"></script>
        <!-- jQuery-->
        <script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
        {# <script src="//code.jquery.com/jquery-3.3.1.min.js"></script> #}
        <!-- jQueryUI -->
        <script src="{{ asset('/libs/jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
        <link href="{{ asset('/libs/jquery-ui-1.12.1/jquery-ui.theme.min.css') }}" rel="stylesheet" />
        <!-- Select2 -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" rel="stylesheet" />
        <!-- framework css --><!--[if gt IE 9]><!-->
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork.css') }}"><!--<![endif]--><!--[if lte IE 9]>
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork-core.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork-type.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork-ui.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork-anim.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('/css/groundwork-ie.css') }}"><![endif]-->
        <!-- bundle for autocomplete-->
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-select2.js') }}"></script>
        {# <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script> #}

        <link type="text/css" rel="stylesheet" href="{{ asset('/css/btp-4-0.css') }}">

        {% block headerscripts %}{% endblock %}
    </head>
    <body class="alert-bg">
        <header class="header half-gap-bottom">
          <div class="charcoal-bg half-pad-left half-pad-top hal-pad-right">
             <div class="desktop-only" >
                <div class="row">
                    <div class="five twelfths no-pad">
                        <a href="{{ url('accueil') }}" target="_parent"><img src="{{ asset('img/header-desktop-btp-4-0.png') }}" style="height:60px; width: 720px;" alt="BTP 4.0"/></a>
                    </div>
                    <div class="four twelfths gap-top double-pad-left">
                        <div class="round orange box half-pad-top half-pad-bottom">
                                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                        </div>
                    </div>
                    <div class="one twelfth gap-top pad-left pad-right">
                        <div id="inbox" class="one half double-pad-left">
                            <a href="{{ url('fos_message_inbox') }}" title="Boîte de réception"><i class="white icon-envelope-alt icon-2x gap-right"></i></a>
                        </div>
                        <div class="one half double-pad-left">
                            <a href="#" title="Notifications"><i class="white icon-bell icon-2x gap-right "></i></a>
                        </div>
                    </div>
                    <div class="two twelfths gap-top double-pad-right">
                        <div class="round white box half-padded half-gap-left" style="width:240px;">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <img src="{{ app.user.picture }}"  style = "float: left; margin-right:6px; width:30px; height: 30px; border-radius: 50%;"/>
                                <div class="dropdown left-pad">
                                    <button class="white" title="compte {{app.user.identityprovider }}">
                                    {% if app.user.nickname|e|length > 18 %}
                                        {{app.user.nickname|e|slice(0, 15)}}...
                                    {% else %}
                                        {{app.user.nickname|e}}
                                        {% if app.user.nickname|e|length < 15 %}
                                            {% for i in 1..(15 - app.user.nickname|e|length) %}
                                                &nbsp;
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %} 
                                    </button>
                                    <ul>
                                        <li>
                                            <a href="{{ url('fos_user_profile_show') }}"><i class="icon-user"></i>&nbsp;&nbsp;Mon compte</a>
                                        </li>
                                        <li><hr></li>
                                        <li>
                                            <a href="{{ url('auth0_logout') }}"><i class="icon-signout"></i>&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="ipad-only">
                <div class="row">
                    <div class="five twelfths no-pad">
                        <a href="{{ url('accueil') }}" target="_parent"><img src="{{ asset('img/header-ipad-btp-4-0.png') }}" style="height:60px; width: 565px;" alt="BTP 4.0"/></a>
                    </div>
                    <div class="four twelfths gap-top double-pad-left">
                        <div class="round orange box half-pad-top half-pad-bottom">
                                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                        </div>
                    </div>
                    <div class="three twelfths gap-top pad-right">
                        <div class="round white box half-padded absolute right" style="width:190px;">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <img src="{{ app.user.picture }}"  style = "float: left; margin-right:6px; width:30px; height: 30px; border-radius: 50%;"/>
                                <div class="dropdown left-pad">
                                    <button class="white" title="compte {{app.user.identityprovider }}">
                                    {% if app.user.nickname|e|length > 15 %}
                                        {{app.user.nickname|e|slice(0, 12)}}...
                                    {% else %}
                                        {{app.user.nickname|e}}
                                        {% if app.user.nickname|e|length < 12 %}
                                            {% for i in 1..(12 - app.user.nickname|e|length) %}
                                                &nbsp;
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %} 
                                    </button>
                                    <ul>
                                        <li>
                                            <a href="{{ url('fos_user_profile_show') }}"><i class="icon-user"></i>&nbsp;&nbsp;Mon compte</a>
                                        </li>
                                        <li><hr></li>
                                        <li>
                                            <a href="{{ url('auth0_logout') }}"><i class="icon-signout"></i>&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="small-tablet-only">
                <div class="row">
                    <div class="two twelfths no-pad">
                        <a href="{{ url('accueil') }}" target="_parent"><img src="{{ asset('img/logo.png') }}" style="height:60px; width: 60px;" alt="BTP 4.0"/></a>
                    </div>
                    <div class="eleven twelfths gap-top double-gap-right">
                        <div class="round white box half-padded absolute right" style="width:200px;">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <img src="{{ app.user.picture }}"  style = "float: left; margin-right:6px; width:30px; height: 30px; border-radius: 50%;"/>
                                <div class="dropdown left-pad">
                                    <button class="white" title="compte {{app.user.identityprovider }}">
                                    {% if app.user.nickname|e|length > 15 %}
                                        {{app.user.nickname|e|slice(0, 12)}}...
                                    {% else %}
                                        {{app.user.nickname|e}}
                                        {% if app.user.nickname|e|length < 12 %}
                                            {% for i in 1..(12 - app.user.nickname|e|length) %}
                                                &nbsp;
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %} 
                                    </button>
                                    <ul>
                                        <li>
                                            <a href="{{ url('fos_user_profile_show') }}"><i class="icon-user"></i>&nbsp;&nbsp;Mon compte</a>
                                        </li>
                                        <li><hr></li>
                                        <li>
                                            <a href="{{ url('auth0_logout') }}"><i class="icon-signout"></i>&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="mobile-only">
                <div class="row">
                    <a href="{{ url('accueil') }}" target="_parent"><img src="{{ asset('img/logo.png') }}" style="height:60px; width: 60px; float:left;" alt="BTP 4.0"/></a>
                    <div class="round white box half-padded absolute middle right gap-right" style="width:40px;">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <img src="{{ app.user.picture }}"  style = "float: left; margin-right:6px; width:30px; height: 30px; border-radius: 50%;"/>
                        <div class="dropdown left-pad">
                            <button class="white" title="compte {{app.user.identityprovider }}"></button>
                            <ul>
                                <li>
                                    <a href="{{ url('fos_user_profile_show') }}"><i class="icon-user"></i>&nbsp;&nbsp;Mon compte</a>
                                </li>
                                <li><hr></li>
                                <li>
                                    <a href="{{ url('auth0_logout') }}"><i class="icon-signout"></i>&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>

          </div>
        </header>

        <div class="workspace charcoal row no-pad"> 
            <div class="row half-padded">
                <div id="flash" class="one whole half-gap-top">
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="eleven twelfths dismissible error round message centered align-left gap-bottom">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('warning') %}
                        <div class="eleven twelfths dismissible warning round message centered align-left gap-bottom">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('success') %}
                        <div class="eleven twelfths dismissible success round message centered align-left gap-bottom">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('info') %}
                        <div class="eleven twelfths dismissible blue round message centered align-left gap-bottom">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.session.flashbag.get('new') %}
                        <div class="eleven twelfths dismissible purple round message centered align-left gap-bottom">{{ message }}</div>
                    {% endfor %}
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block popup %}{% endblock %}

        <footer class="footer half-gap-top">
            <div class="box charcoal square" style="height:100p%; overflow: hidden;">
                <div class="container half-padded">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="box square">
                <div class="container half-padded">
                    <div class="row">
                    </div>
                </div>
            </div>
        </footer>

        <!-- scripts-->
        <script type="text/javascript" src="{{ asset('/js/groundwork.all.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ ga_tracking_id }}', 'auto');
            ga('send', 'pageview');        
 
                        {# {% set nb_messages = fos_message_nb_unread() %}
                        {% if nb_messages > 9 %}
                            var msg = '<a href="{{ url('fos_message_inbox') }}" title="Vous avez {{ nb_messages }} nouveaux messages"><i class="white icon-envelope icon-2x gap-right flash animated badge red" data-badge="9+"></i></a>'
                        {% elseif nb_messages > 0 %}
                            var msg = '<a href="{{ url('fos_message_inbox') }}" title="Vous avez {{ nb_messages }} nouveau(x) message(s)"><i class="white icon-envelope icon-2x gap-right flash animated badge red" data-badge="{{ nb_messages }} "></i></a>'
                        {% else %}
                            var msg = '<a href="{{ url('fos_message_inbox') }}" title="Boîte de réception"><i class="white icon-envelope-alt icon-2x gap-right"></i></a>'
                        {% endif %} #}

            function setIntervalAndExecute(fn, t) {
                fn();
                return(setInterval(fn, t));
            }

            // toutes les 2 mn on rafraichit le compteur des messages non lus
            var i = setIntervalAndExecute(function(){

                $.ajax({  
                    url:        "{{ url('get_nb_unread_messages') }}" ,  
                    type:       'GET',   
                    dataType:   'json',  
                    async:      true,  
                    
                    success: function(data, status) {  
                        var msg = data.nb_messages;

                        if (msg > 9) {
                            msg = '<a href="{{ url('fos_message_inbox') }}" title="Vous avez ' + data.nb_messages.toString() + ' nouveaux messages"><i class="white icon-envelope icon-2x gap-right flash animated badge red" data-badge="9+"></i></a>'
                        } else if (msg > 0) { 
                            msg = '<a href="{{ url('fos_message_inbox') }}" title="Vous avez ' + data.nb_messages.toString() + ' nouveau(x) message(s)"><i class="white icon-envelope icon-2x gap-right flash animated badge red" data-badge="' + data.nb_messages.toString() + ' "></i></a>'
                        } else {
                            msg = '<a href="{{ url('fos_message_inbox') }}" title="Boîte de réception"><i class="white icon-envelope-alt icon-2x gap-right"></i></a>'
                        }

                        $( "#inbox" ).html( msg );
                    },  
                    error : function(xhr, textStatus, errorThrown) {  
                        console.log('Erreur Ajax...');

                        $( "#inbox" ).html( '<a href="{{ url('fos_message_inbox') }}" title="Boîte de réception"><i class="white icon-envelope-alt icon-2x gap-right"></i></a>' );
                    }  
                });         
            }, 120000);  

        </script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>