{% extends 'demo.html.twig' %}

{% block headerscripts %}
    <script type="text/javascript" src="{{ asset('/js/dropzone.js') }}"></script>
{% endblock %}

{% block body %}
<div class="one whole">
    <h1>Chantier creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chantier_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
<div>
    <form action="{{ oneup_uploader_endpoint('chantier_file') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
    </form>
</div>
{% endblock %}
{% block javascripts %}
{# <script>
    var options = {
        url_list: '{{ path('search_ville') }}',
        url_get: '{{ path('get_ville') }}',
        otherOptions: {
            minimumInputLength: 3,
            formatNoMatches: 'Aucune ville trouvée.',
            formatSearching: 'Recherche...',
            formatInputTooShort: 'Taper au moins 3 caractères...'
        }
    };
    $('#chantier_adresse_ville').width('100%');
    $('#chantier_adresse_ville').autocompleter(options);    
</script> #}
{% endblock %}