{% extends 'demo.html.twig' %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/leaflet/leaflet.css') }}" />
{% endblock %}
{% block headerscripts %}
            <script src="{{ asset('libs/leaflet/leaflet.js') }}"></script>
 {% endblock %}

{% block body %}
    <div class="container centered">
        <div class="row">
            <div class="one whole double-padded" style="height:150px;text-align:center;background-image: url('{{ asset('img/banniere-chantier.png') }}');background-size:cover;">
            <h2><b>{{ chantier.nom }}</b></h2>
            <h4>{{ chantier.adresse }}</h4>
            </div>
        </div>
        <div class="equalize row half-pad-top">
            <div class="three fifths pad-right">
                <div class="padded one whole">
                    <a class="round button error noicon half-gap-right" href="{{ path('pic_chantier', { 'slug': chantier.slug }) }}"><i class="icon-map-marker"></i>&nbsp;&nbsp;Plan Installation</a>
                    <a class="round button purple noicon half-gap-right" href="{{ path('planning_chantier', { 'slug': chantier.slug }) }}"><i class="icon-tasks"></i>&nbsp;&nbsp;Planning</a>
                    {% if chantier.webcam|length > 0 %}
                        <a class="round button success noicon half-gap-right" href="{{ chantier.webcam }}" title="webcam chantier" target="_blank"><i class="icon-facetime-video"></i>&nbsp;&nbsp;Webcam</a>
                    {% endif %}
                    {% if chantier.adresse.codeinsee|length > 0 %}
                        <button class="round asphalt noicon half-gap-right" onclick="document.getElementById('popup').style.display = 'block'"><i class="icon-cloud"></i>&nbsp;&nbsp;Météo</button>
                    {% endif %}
                    <img src="{{ chantier.user.picture }}" title="{{ chantier.user.nickname }}" style="float: right; width:30px; height: 30px; border-radius: 50%;" />
                    <a class="round button active white bordered noicon half-gap-right" href="#" style="float: right;" title="Paramétres"><i class="icon-cogs"></i></a>
                </div>
                <div class="bordered half-padded white-bg">
                    <h4>Description</h4>
                    <p>{{ chantier.description }}</p>
                </div>
                <div class="bordered half-padded half-gap-top white-bg">
                    <div class="tabs double-padded">
                        <ul role="tablist">
                            <li role="tab" aria-controls="#tab1"><i class="icon-building icon-2x red"></i>&nbsp;&nbsp;Structure Découpage Projet (SDP)</li>
                            <li role="tab" aria-controls="#tab2"><i class="icon-folder-open icon-2x warning"></i>&nbsp;&nbsp;Espace documentaire</li>
                            <li role="tab" aria-controls="#tab3"><i class="icon-wrench icon-2x yellow"></i>&nbsp;&nbsp;Ressources</li>
                        </ul>
                        <div id="tab1" role="tabpanel">
                            <div class="pull-right pull-none-small-tablet gap-left no-gap-small-tablet align-center"><img src="http://placehold.it/240x80/3498db/ffffff"></div>
                            <div class="gap-top-small-tablet placeholderText redacted-script" 
                                data-placeholder-type="words" 
                                data-placeholder-amount="100">
                            </div>
                        </div>
                        <div id="tab2" role="tabpanel">
                            <div class="gap-top-small-tablet placeholderText redacted-script" 
                                data-placeholder-type="words" 
                                data-placeholder-amount="100">
                            </div>
                        </div>
                        <div id="tab3" role="tabpanel">
                            <div class="gap-top-small-tablet placeholderText redacted-script" 
                                data-placeholder-type="words" 
                                data-placeholder-amount="100">
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
            <div "two fifths">
                <div id="map" style="height:500px;"></div>
                <script>
                    var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={{ mapbox_token }}';
                    var mapboxAttribution = 'Map data <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>';
                    
                    var outdoor = L.tileLayer(mapboxUrl, {id: 'mapbox.outdoors', accessToken: '{{ mapbox_token }}', attribution: mapboxAttribution, maxZoom: 19}),
                        grayscale = L.tileLayer(mapboxUrl, {id: 'mapbox.light', accessToken: '{{ mapbox_token }}', attribution: mapboxAttribution, maxZoom: 19}),
                        satellite = L.tileLayer(mapboxUrl, {id: 'mapbox.satellite', accessToken: '{{ mapbox_token }}', attribution: mapboxAttribution, maxZoom: 19}),
                        streets   = L.tileLayer(mapboxUrl, {id: 'mapbox.streets', accessToken: '{{ mapbox_token }}', attribution: mapboxAttribution, maxZoom: 19});

                    var baseMaps = {
                        "courbes de niveau": outdoor,
                        "plan": streets,
                        "échelle de gris": grayscale,
                        "vue satellite": satellite
                    };


                    var craneIcon = L.icon({
                        iconUrl: "{{ asset('img/marker.png') }}",
                        shadowUrl: "{{ asset('img/shadow_marker.png') }}",

                        iconSize:     [32, 32], // size of the icon
                        shadowSize:   [32, 32], // size of the shadow
                        iconAnchor:   [16, 32], // point of the icon which will correspond to marker's location
                        shadowAnchor: [16, 32],  // the same for the shadow
                        popupAnchor:  [-8, -32] // point from which the popup should open relative to the iconAnchor
                    });

                    var planinstallation = L.featureGroup();
                    
                    {% if chantier.pic|length > 0 %}
                        data = JSON.parse('{{ chantier.pic|raw }}');
                        if (data.features.length>0) {
                            planinstallation = L.geoJSON(data); // L.featureGroup();
                        }
                    {% endif %}

                    var overlayMaps = {
                        "Plan d'Installation Chantier": planinstallation 
                    };

                    var map = L.map('map', {center: [{{ chantier.adresse.lat}}, {{ chantier.adresse.lon}}], zoom: 16, layers: [streets, planinstallation]});

                    L.control.layers(baseMaps, overlayMaps).addTo(map);

                    var marker = L.marker([{{ chantier.adresse.lat }}, {{ chantier.adresse.lon }}], {icon: craneIcon, draggable: true}).addTo(map);

                    {% if chantier.pic|length > 0 %}
                        data = JSON.parse('{{ chantier.pic|raw }}');
                        if (data.features.length>0) {
                            map.fitBounds(planinstallation.getBounds());
                        }
                    {% endif %}

                    marker.on('dragend', function (e) {
                        $.ajax("{{ url('patch_chantier', { 'slug': chantier.slug }) }}", {
                            dataType : 'json',
                            data: {adresse:{lat: marker.getLatLng().lat, lon: marker.getLatLng().lng }},
                            type:"PATCH",

                            success: function(response) {
                                map.panTo(new L.LatLng(response.adresse.lat, response.adresse.lon));
                            },
                            error: function (response) {
                                alert('Erreur de mise à jour de la position');
                            }
                        });                            
                    });

                    L.control.scale().addTo(map);

                </script>

            </div>
        </div>
    </div>
{% endblock %}

{% block popup %}
            <div class="popup charcoal box fixed padded" style="width:450px;" id="popup">
                <div = "row padded">
                    <h4 id="titre_popup">Prévisions météorologiques</h4>
                    <div>
                    {% if chantier.adresse.codeinsee|length > 0 %}
                        <iframe src="http://www.vigimeteo.com/widget_vigi_dep_s.html?a={{ chantier.adresse.codeinsee }}0&b=" style="width:425px; height:265px;" frameborder="0">
                    {% else %}
                        <iframe src="http://www.vigimeteo.com/widget_vigi_dep_s.html?a=840070&b=" style="width:425px; height:265px;" frameborder="0">
                    {% endif %}
                            <p>Votre navigateur est incompatible avec les iframes.</p>
                        </iframe>
                    </div>
                </div>
                <i class="icon-2x icon-remove absolute top right padded" onclick="document.getElementById('popup').style.display = 'none'"></i>
            </div>
        </div>
{% endblock %}
