{% extends 'demo.html.twig' %}

{% import 'tools.html.twig' as tools %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/btp-4-0-comments.css') }}" />
{% endblock %}

{% block body %}
    <div class="container centered">
        <div class="row">
            <div class="one whole double-padded" style="height:150px;text-align:center;background-image: url('{{ asset('img/banniere-chantier.png') }}');background-size:cover;" title="{{ chantier.description }}">
                <div class="four sixths skip-one">
                    <a class="round button info pull-right" href="{{ path('chantier_edit', { 'slug': chantier.slug }) }}" title="Modifier"><i class="icon-pencil"></i></a>
                    <h2><b>{{ chantier.nom }}</b></h2>
                    <h4>{{ chantier.adresse }}</h4>
                </div>
            </div>
        </div>
        <div class="row half-pad-top">
            <div class="one whole bordered white-bg">
                <div class="one whole padded">
                    <a class="round button error noicon half-gap-right" href="{{ path('pic_chantier', { 'slug': chantier.slug }) }}"><i class="icon-map-marker"></i>&nbsp;&nbsp;Plan Installation</a>
                    <a class="round button purple noicon half-gap-right" href="{{ path('planning_chantier', { 'slug': chantier.slug }) }}" target="_blank"><i class="icon-tasks"></i>&nbsp;&nbsp;Planning</a>
                    {% if chantier.webcam|length > 0 %}
                        <a class="round button success noicon half-gap-right" href="{{ chantier.webcam }}" title="webcam chantier" target="_blank"><i class="icon-facetime-video"></i>&nbsp;&nbsp;Webcam</a>
                    {% endif %}
                    {% if chantier.adresse.codeinsee|length > 0 %}
                        <button class="round asphalt noicon half-gap-right" onclick="document.getElementById('popup').style.display = 'block'"><i class="icon-cloud"></i>&nbsp;&nbsp;Météo</button>
                    {% endif %}
                    <a class="round button active white bordered noicon half-gap-right" href="#" style="float: right;" title="Paramétres"><i class="icon-cog"></i></a>
                </div>
                <div class="equalize row half-gap-top half-gap-right">
                    <div class="one half padded">
                        <h4 class="charcoal"><i class="icon-chevron-right"></i>&nbsp;&nbsp;Fil de discussion</h4>
                        {% include '@FOSComment/Thread/async.html.twig' with {'id': chantier.slug } %}
                    </div>
                    <div class="one half padded">
                        <h4 class="info"><i class="icon-chevron-right"></i>&nbsp;&nbsp;Documents du projet</h4>
                        {% include 'document/async-tree.html.twig' with {'id': chantier.slug } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block popup %}
            <div class="popup asphalt box fixed padded" style="width:450px;" id="popup">
                <div = "row padded">
                    <h3 id="titre_popup">Prévisions météorologiques</h3>
                    <div>
                    {% if chantier.adresse.codeinsee|length > 0 %}
                        <iframe src="http://www.vigimeteo.com/widget_vigi_dep_s.html?a={{ chantier.adresse.codeinsee }}0&b=" style="width:425px; height:265px;" frameborder="0">
                    {% else %}
                        <iframe src="http://www.vigimeteo.com/widget_vigi_dep_s.html?a=840070&b=" style="width:425px; height:265px;" frameborder="0">
                    {% endif %}
                            <p>Votre navigateur est incompatible avec les iframes.</p>
                        </iframe>
                    </div>
                </div>
                <i class="icon-2x icon-remove absolute top right padded" onclick="document.getElementById('popup').style.display = 'none'"></i>
            </div>
{% endblock %}

