{# app/Resources/FOSUserBundle/views/layout.html.twig #}

{% extends './demo.html.twig' %}

{% block body %}
        {% if app.request.hasPreviousSession %}
            {% for message in app.session.flashbag.get('error') %}
                <div class="eleven twelfths dismissible error round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('warning') %}
                <div class="eleven twelfths dismissible warning round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('success') %}
                <div class="eleven twelfths dismissible success round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('info') %}
                <div class="eleven twelfths dismissible blue round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('new') %}
                <div class="eleven twelfths dismissible purple round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
        {% endif %}

        <div class="two thirds centered white box bordered double-padded">
            <h4 class="asphalt box">
                <img src="{{ user.picture }}" style="float:left; margin-right: 8px; width:64px; height:64px; border-radius: 50%;"/>
                {{ user.realname}}
            </h4>
            <br>
            <p><b>Nom complet:</b> {{ user.realname }}</p>
            <p><b>Pseudo:</b> {{ user.nickname }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <br>
            {% if user.identityprovider == 'BTP 4.0' %}
                <a class="three tenths success round button" href="{{ url('fos_user_profile_edit') }}"><i class="icon-pencil" title="modifier" style="float:left; margin-left:4px;"></i>Modifier</a>
            {% endif %}
            <p class="align-right right-pad">vous êtes connecté avec votre compte {{ user.identityprovider }}<img src="{{ asset('img/logos/') }}{{ user.identityprovider }}.png" style="position: relative; top: 4px; margin-left:5px; margin-right:5px; width:20px; height:20px;"/></p>
        </div>
{% endblock body %}