{# app/Resources/FOSUserBundle/views/layout.html.twig #}

{% extends './demo.html.twig' %}

{% block body %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('auth0_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('auth0_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for message in app.session.flashbag.get('error') %}
                <div class="eleven twelfths dismissible error round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('warning') %}
                <div class="eleven twelfths dismissible warning round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('success') %}
                <div class="eleven twelfths dismissible success round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('info') %}
                <div class="eleven twelfths dismissible blue round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
            {% for message in app.session.flashbag.get('new') %}
                <div class="eleven twelfths dismissible purple round message centered align-left gap-bottom">{{ message|trans({}, 'FOSUserBundle') }}</div>
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock body %}