{% extends 'demo.html.twig' %}

{% block body %}
<div class="one whole">
    <h1>Adresse creation</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('adresse_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
<script>
    var options = {
        url_list: '{{ path('search_ville') }}',
        url_get: '{{ path('get_ville') }}',
        otherOptions: {
            minimumInputLength: 3,
            formatNoMatches: 'Aucune ville trouvée.',
            formatSearching: 'Recherche...',
            formatInputTooShort: 'Taper au moins 3 caractères...'
        }
    };
    $('#adresse_ville').width('100%');
    $('#adresse_ville').autocompleter(options);    
</script> 
{% endblock %}
