

{% import 'tools.html.twig' as tools %}

{% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/jstree/themes/default/style.min.css') }}" />
            <link href="{{ asset('/css/dropzone.css') }}" rel="stylesheet" />
{% endblock %}

{% block headerscripts %}
    <script type="text/javascript" src="{{ asset('libs/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/dropzone.js') }}"></script>
{% endblock %}

<div class="ten twelfths centered">
    <div class="one whole no-pad" Title="Glissez / déplacez ou cliquez pour télécharger des documents...">
        <form id="btp40-dropzone" action="{{ oneup_uploader_endpoint('documents_chantier') }}" class="dropzone one whole info align-center padded" style="border:3px dashed; ">
        </form>
    </div>
</div>     
<div class="ten twelfths skip-one half-gapped half-padded bordered white-bg active" style="overflow:auto;">
    <div id="btp40-jstree"></div>
</div>

{% block javascripts %}
    <script>
        $(function () { 

            Dropzone.options.btp40Dropzone = {
                params: {
                    // l'identifiant du chantier auquel est associé le document est passé en paramètre du formulaire
                    chantier: "{{ chantier.slug }}" 
                }, 
                init: function() {
                    this.on("sending", function(file, xhr, formData) {
                         // on ajoute dans le formulaire la date de modification du fichier original (UNIX epoch time)
                         formData.append("fileLastModified", file.lastModified);
                         formData.append("mimeType", file.type);
                    });
                },                
                maxFilesize: 5, // MB
                resizeHeight: 1280,
                acceptedFiles: 'image/jpeg, image/png, image/bmp, image/gif, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/x-pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/x-7z-compressed, application/zip, application/x-zip-compressed, multipart/x-zip, audio/x-wav, audio/mpeg'
            };

            // init jsTree
            $.jstree.defaults.core.themes.variant = "large";
            $('#btp40-jstree').jstree(
                { 
                    "types" : {
                        "default" : {
                            "type" : "folder",
                        },
                        "folder" : {
                            "valid_children" : ["folder", "file"],
                            "icon" : "jstree-folder"
                        },
                        "file" : {
                            "valid_children" : [],
                            "icon" : "jstree-file"
                        }
                    },
                    'core' : {
                        'data': {
                            "url": function (node) {
                                api_url = "{{ url('get_documents_chantier', {'slug': chantier.slug}) }}";
                                return api_url;
                            },
                            "success": function (new_data) {
                                return new_data;
                            }
                        }
                    },
                    'plugins' : [ "dnd", "state", "types"]
                }
            );

        });
    </script>
{% endblock %}