

{% import 'tools.html.twig' as tools %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/jstree/themes/default/style.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/css/dropzone.css') }}" />
{% endblock %}

{% block headerscripts %}
    <script type="text/javascript" src="{{ asset('libs/jstree/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/dropzone.js') }}"></script>
{% endblock %}

                        <div class="ten twelfths centered">
                            <div class="one whole no-pad" Title="Glissez / déplacez ou cliquez pour télécharger des documents...">
                                <form id="btp40-dropzone" action="{{ oneup_uploader_endpoint('documents_chantier') }}" class="dropzone one whole info align-center" style="border:3px dashed; ">
                                </form>
                            </div>
                        </div>
                        <div id="error" class="ten twelfths skip-one half-gapped"></div>
                        <div class="ten twelfths skip-one half-padded bordered white-bg active" style="overflow:auto;">
                            <div class="row">
                                <div id="btp40-jstree"></div>
                            </div>
                        </div>


{% block javascripts %}
    <script>

        // affiche flash message d'erreur
        function display_error(msg) {
            $('#error').append('<div class="eleven twelfths dismissible error round message centered align-left half-gapped">' + msg + '</div>');
        }

        // appel API PATCH pour mettre à jour en base de données
        function save_node(node) {
            var ref = $('#btp40-jstree').jstree(true);

            // récupère l'id du noeud parent
            id = ref.get_parent(node);
            if (id) {
                id = id.toString().split("-");
            } else {
                id = "#";
            }

            if ((id=="#") || (id=="trash")) {
                idParent = null;
            } else {
                idParent = parseInt(id[1]);
            }

            // si node est dans la corbeille, récupère la date actuelle
            if (ref.get_type(node) == "deleted") {
                var d  = new Date();
                deleted = { "date": {
                        "year": d.getFullYear(),
                        "month": d.getMonth(),
                        "day": d.getDate()
                    },
                    "time": {
                        "hour": d.getHours(),
                        "minute": d.getMinutes()
                    }
                }
            } else {
                deleted = { "date": {
                        "year": null,
                        "month": null,
                        "day": null
                    },
                    "time": {
                        "hour": null,
                        "minute": null
                    }
                }
            }

            // construit l'url de l'API (avec l'id du noeud) et l'objet data en fonction du type de noeud 
            id = node.toString().split("-");
            if (id.length==1){
                return false;
            } else {
                if (id[0] == 'folder') {
                    url = '{{ url('patch_dossier') }}/' + id[1];
                    data = {nom: ref.get_text(node), parent: idParent, folderDeletedAt : deleted };
                } else if (id[0] == 'file') {
                    url = '{{ url('patch_document') }}/' + id[1];
                    data = {nom: ref.get_text(node), parent: idParent, fileDeletedAt : deleted  };
                } else {
                    return false;
                }
            }

            $.ajax(url , {
                dataType:"json",
                data: data,
                type:"PATCH",
                success: function(response) {
                    return true;                
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var msg = JSON.parse(xhr.responseText);
                    display_error(msg.message);
                    return false;
                }
            }); 
        }

        // appel API POST pour créer un nouveau dossier
        function add_node(node) {
            var ref = $('#btp40-jstree').jstree(true);
            
            // récupère l'id du noeud parent
            id = ref.get_parent(node);
            if (id) {
                id = id.toString().split("-");
            } else {
                id = "#";
            }

            if ((id=="#") || (id=="trash")) {
                idParent = null;
            } else {
                idParent = parseInt(id[1]);
            }

            deleted = { "date": {
                    "year": null,
                    "month": null,
                    "day": null
                },
                "time": {
                    "hour": null,
                    "minute": null
                }
            }

            url = '{{ url('put_dossier') }}';
            data = {chantier: {{ chantier.id }}, nom: ref.get_text(node), parent: idParent, folderDeletedAt : deleted };

            $.ajax(url , {
                dataType:"json",
                data: data,
                type:"PUT",
                success: function(response) {
                    $('#btp40-jstree').jstree(true).refresh();
                    return true;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var msg = JSON.parse(xhr.responseText);
                    display_error(msg.message);
                    ref.delete_node(node);
                    return false;
                }
            }); 
        }


        // appel API DELETE pour effacer définitivement un document
        function erase_node(node) {
            var ref = $('#btp40-jstree').jstree(true);
            if(!node.length) { return false; }
            // construit l'url de l'API (avec l'id du noeud) en fonction du type de noeud 
            id = node.toString().split("-");
            if (id.length==1){
                return false;
            } else {
                if (id[0] == 'folder') {
                    url = '{{ url('delete_dossier') }}/' + id[1];
                } else if (id[0] == 'file') {
                    url = '{{ url('delete_document') }}/' + id[1];
                } else {
                    return false;
                }
            }

            $.ajax(url , {
                dataType:"json",
                type:"DELETE",
                success: function(response) {
                    return true;                    
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var msg = JSON.parse(xhr.responseText);
                    display_error(msg.message);                    
                    return false;
                }
            });

            return true;    
        }
        
        function create_folder(node) {
            var ref = $('#btp40-jstree').jstree(true);
            if(!node.length || ref.get_type(node)=="trash") { 
                par = "#";
            } else {
                if (ref.get_type(node)=="file") {
                    par = ref.get_parent(node);
                } else {
                    par = node;
                }
            }
            if (par == "#") { pos=1; } else { pos=0; }
            node = ref.create_node(par, {"type":"folder"}, pos);
            if(node) {
                ref.edit(node,null, function (node, status, is_cancel) {
                    if(status && !is_cancel) { 
                        add_node(node.id);
                    }
                });
            }
        };

        function rename_node(node) {
            var ref = $('#btp40-jstree').jstree(true);
            if(!node.length) { return false; }
            node = node[0];
            ref.edit(node,null, function (node, status, is_cancel) {
                if(status && !is_cancel) { 
                    save_node(node.id);
                }
            });

        };

        function delete_children(node) {
            var ref = $('#btp40-jstree').jstree(true), children, child, i;
            if(!node.length) { return false; }
            children = ref.get_node(node).children;
            if ((ref.get_type(node) == "deleted") || (ref.get_type(node) == "trash")) {
                while(children.length>0) {
                    child=children[0];
                    delete_children(child);
                    if (erase_node(child)) {
                        // delete permanently
                        ref.delete_node(child);
                    } else {
                        return false;
                    }
                }
            } else {
                for (i=0; i< children.length;i++) {
                    child= children[i];
                    delete_children(child);
                    // marked deleted (moved in recycling bin)
                    ref.set_type(child, "deleted");
                    save_node(child);
                }
            }
            return true;
        }

        function delete_node(node) {
            var ref = $('#btp40-jstree').jstree(true);
            if(!node.length) { return false; }
            delete_children(node);
            if (ref.get_type(node) == "deleted") {
                if (erase_node(node)) {
                    // delete permanently
                    ref.delete_node(node);
                    $('#btp40-jstree').jstree(true).refresh();
                }
            } else if (ref.get_type(node) != "trash") {
                // move to recycling bin
                ref.set_type(node, "deleted");
                trash = ref.get_node("trash");
                ref.move_node(node,trash,0);
            }
        };

        function restore_children(node) {
            var ref = $('#btp40-jstree').jstree(true), children, child, i, typ;
            if(!node.length) { return false; }
            children = ref.get_node(node).children;
            for (i = 0; i < children.length; i++) {
                child= children[i];
                restore_children(child);
                typ = child.toString().split("-");
                if (typ.length==1) {
                    typ[0]="folder";
                }
                ref.set_type(child, typ[0]);
                save_node(child);
            }
        }

        function restore_node(node) {
            var ref = $('#btp40-jstree').jstree(true), children, child, i, typ;
            if(!node.length) { return false; }
            if (ref.get_type(node) == "deleted" || ref.get_type(node) == "trash") {
                restore_children(node);
                if (ref.get_type(node) == "trash") {
                    children = ref.get_node(node).children;
                    while (children.length > 0) {
                        child = children[0];
                        ref.move_node(child,"#",1);
                    }
                } else {
                    typ = node.toString().split("-");
                    if (typ.length==1) {
                        typ[0]="folder";
                    }
                    ref.set_type(node, typ[0]);
                    ref.move_node(node,"#",1);
                }
            } else {
                return false;
            }
        };

        function customMenu(node)
        {
            var ref = $('#btp40-jstree').jstree(true),
                sel = ref.get_selected(),
                menu_items = {
                'create_root_folder' : {
                    'label' : 'Créer dossier à la racine',
                    'action' : function() {
                        create_folder(sel);
                    }
                },
                'create_folder' : {
                    'label' : 'Créer dossier',
                    'action' : function() {
                        create_folder(sel);
                    }
                },
                'create_subfolder' : {
                    'label' : 'Créer sous-dossier',
                    'action' : function() {
                        create_folder(sel);
                    }
                },                
                'rename' : {
                    'label' : 'Renommer',
                    'action' : function() {
                        rename_node(sel);
                    }
                },
                'restore' : {
                    'label' : 'Restaurer',
                    'action' : function() {
                        restore_node(sel);
                    }
                },
                'delete' : {
                    'label' : 'Supprimer',
                    'action' : function() {
                        delete_node(sel);
                    }
                },
                'empty_trash' : {
                    'label' : 'Vider la corbeille',
                    'action' : function() {
                        delete_node(sel);
                    }
                }
            }

           if (node.type === 'file') {
                delete menu_items.create_subfolder;
                delete menu_items.create_root_folder;
                delete menu_items.restore;
                delete menu_items.empty_trash;
            } else if (node.type === 'folder') {
                delete menu_items.create_folder;
                delete menu_items.create_root_folder;
                delete menu_items.restore;
                delete menu_items.empty_trash;
            } else if (node.type === 'deleted') {
                delete menu_items.create_folder;
                delete menu_items.create_root_folder;
                delete menu_items.create_subfolder;
                delete menu_items.rename;
                delete menu_items.empty_trash;
            } else if (node.type === 'trash') {
                delete menu_items.create_folder;
                delete menu_items.create_subfolder;
                delete menu_items.rename;
                delete menu_items.delete;
                if (node.children.length == 0) {
                    menu_items.restore._disabled = true;
                    menu_items.empty_trash._disabled = true;
                } else {
                    delete menu_items.create_root_folder;
                }
            }

            return menu_items;
        };

        $(function () { 

            Dropzone.options.btp40Dropzone = {
                params: {
                    // l'identifiant du chantier auquel est associé le document est passé en paramètre du formulaire
                    chantier: "{{ chantier.slug }}" 
                }, 
                init: function() {
                    this.on("sending", function(file, xhr, formData) {
                         // on ajoute dans le formulaire la date de modification du fichier original (UNIX epoch time)
                         formData.append("fileLastModified", file.lastModified);
                         formData.append("mimeType", file.type);
                    });
                    this.on("complete", function(file) {
                        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            $('#btp40-jstree').jstree(true).refresh();
                        }
                    });
                },                
                maxFilesize: 5, // MB
                resizeHeight: 1280,
                acceptedFiles: 'image/jpeg, image/png, image/bmp, image/gif, application/pdf, application/x-pdf, audio/x-wav, audio/mpeg'
//                acceptedFiles: 'image/jpeg, image/png, image/bmp, image/gif, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/x-pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/x-7z-compressed, application/zip, application/x-zip-compressed, multipart/x-zip, audio/x-wav, audio/mpeg'
            };

            // init jsTree
            $.jstree.defaults.core.themes.variant = "large";
            $.jstree.defaults.dnd.copy = false;
            $('#btp40-jstree').jstree(
                { 
                    "types" : {
                        "default" : {
                            "type" : "folder"
                        },
                        "trash" : {                            
                            "valid_children" : ["deleted"]
                        },
                        "deleted" : {
                            "valid_children" : ["deleted"]
                        },
                        "folder" : {
                            "valid_children" : ["folder", "file"],
                            "icon" : "jstree-folder"
                        },                        
                        "file" : {
                            "valid_children" : [],
                            "icon" : "jstree-file"
                        }
                    },
                    "core": {
                        "animation" : 0,
                        "multiple" : false,
                        "force_text" : true,
                        "check_callback" : true,
                        "data": {
                            "url": function (node) {
                                api_url = "{{ url('get_documents_chantier', {'slug': chantier.slug}) }}";
                                return api_url;
                            },
                            "success": function (new_data) {
                                return new_data;
                            }
                        }
                    },
                    "plugins": [ "dnd", "types", "contextmenu"],
                    "contextmenu": {items: customMenu},
                    "dnd" : {
                        "is_draggable" : function(node) {
                            if (node[0].type == 'trash' || node[0].type == "deleted") {
                                return false;
                            }
                            return true;
                        }
                    }
                }
            ).bind("move_node.jstree", function (e, data) {
                // sauvegarde avec la nouvelle position du document/dossier
                save_node(data.node.id);
            });
        });

    </script>
{% endblock %}