
{% import 'tools.html.twig' as tools %}

{% extends 'demo.html.twig' %}

{% block body %}
<div class="one whole container centered">
    {% if 'image' in document.mimetype %}
        <img class= "one whole centered" src="{{ asset('data/') ~ document.fichier }}"/>
    {% else %}
        {% if 'pdf' in document.mimetype %}
        <iframe src="{{ asset('libs/pdfjs/web/viewer.html') }}?file={{ (asset('data/') ~ document.fichier)|url_encode }}" frameborder="0">
        </iframe>         
        {% else %}
            <div class="row">
                <img class="pull-left pad-right" src="{{ asset('img/file-icons/') ~ tools.file_icon(document.mimeType)|trim }}"/>
                <h4 class="charcoal half-pad-top">{{ document.nom }}</h4>
            </div>            
        {% endif %}
    {% endif %}
</div>
<div class="absolute top right gapped">
    <a class="round button half-gap-right" style="z-index:10; opacity: 0.66;" href="{{ path('document_fullscreen', { 'id': document.id }) }}" title="Plein écran"><i class="icon-resize-full"></i></a>
    <a class="round button " style="z-index:10; opacity: 0.66;" href="{{ path('chantier_show', { 'slug': document.chantier.slug }) }}" title="Retour à la page d'accueil du chantier"><i class="icon-reply"></i></a>
</div>
{% endblock %}
