{% extends 'demo.html.twig' %}

{% block body %}
<div class="one whole container centered">
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="blue">
        <thead>
            <tr>
                <th>Chantier</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'd.nom') }}</th>
                <th>Commentaire</th>
                <th>Taille</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date', 'd.fileCreatedAt') }}</th>
            </tr>
        </thead>
        <tbody>

        {% import _self as tools %}

        {% macro file_icon(mime_type) %}
        {% spaceless %}
            {% if mime_type in ['application/pdf', 'application/x-pdf'] %}
                {{ 'pdf.png' }}
            {% elseif mime_type in ['application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'] %}
                {{ 'doc.png' }}
            {% elseif mime_type in ['application/vnd.ms-powerpoint', 'application/vnd.openxmlformats-officedocument.presentationml.presentation'] %}
                {{ 'ppt.png' }}
            {% elseif mime_type in ['application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'] %}
                {{ 'xls.png' }}
            {% elseif mime_type in ['application/x-7z-compressed', 'application/zip', 'application/x-zip-compressed', 'multipart/x-zip'] %}
                {{ 'archive.png' }}
            {% elseif 'image/' in mime_type %}
                {{ 'image.png' }}
            {% elseif 'audio/' in mime_type %}
                {{ 'audio.png' }}
            {% else %}
                {{ 'default.png' }}
            {% endif %}
        {% endspaceless %}
        {% endmacro %}

        {% for document in pagination %}
            <tr>
                <td><a href="{{ path('chantier_show', { 'slug': document.chantier.slug }) }}">{{ document.chantier.nom }}</a></td>
                <td><a class="noicon" href="{{ path('document_show', { 'id': document.id }) }}"><img class="pull-left pad-right" style="height:24px;" src="{{ asset('img/file-icons/' ~ tools.file_icon(document.mimeType)|trim )}}"/>{{ document.nom }}</a></td>
                <td>{{ document.commentaire }}</td>
                <td>{{ document.fileSize|readable_filesize(1, '') }}</td>
                <td>{{ document.fileCreatedAt|localizeddate('short', 'short', 'fr-FR')  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
