{% extends 'demo.html.twig' %}

{% import 'tools.html.twig' as tools %}

{% block body %}
<div class="one whole container centered">
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="blue">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Chantier', 'c.nom') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nom', 'd.nom') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Dossier', 'p.nom') }}</th>
                <th>Description</th>
                <th>Taille</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date', 'd.fileCreatedAt') }}</th>
            </tr>
        </thead>
        <tbody>

        {% for document in pagination %}
            <tr>
                <td><a href="{{ path('chantier_show', { 'slug': document.chantier.slug }) }}">{{ document.chantier.nom }}</a></td>
                <td><a class="noicon" href="{{ path('document_show', { 'id': document.id }) }}"><img class="pull-left pad-right" style="height:24px;" src="{{ asset('img/file-icons/' ~ tools.file_icon(document.mimeType)|trim )}}"/>{{ document.nom }}</a></td>
                <td><a class="noicon" href="{{ path('dossier_show', { 'id': document.parent.id }) }}"><img class="pull-left pad-right" style="height:24px;" src="{{ asset('img/file-icons/folder.png' )}}"/>{{ document.parent.nom }}</a></td>
                <td>{{ document.commentaire }}</td>
                <td>{{ document.fileSize|readable_filesize(1, '') }}</td>
                <td>{{ document.fileCreatedAt|localizeddate('short', 'short', 'fr-FR')  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
