
{% import 'tools.html.twig' as tools %}

{% extends 'demo.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/btp-4-0-comments.css') }}" />
{% endblock %}

{% block body %}

    <div class="eight tenths centered">
        <div class="one fourth padded white-bg bordered" style="height: calc(100vh - 140px); overflow:auto;">
            <h4 class="charcoal"><i class="icon-chevron-right"></i>&nbsp;&nbsp;Fil de discussion</h4>
            {% include '@FOSComment/Thread/async.html.twig' with {'id': document.id } %}
        </div>            
        <div class="three fourths half-pad-left">
            {% if 'image' in document.mimetype %}
                <img class= "one whole centered padded" src="{{ asset('data/') ~ document.fichier }}"/>
            {% else %}
                {% if 'pdf' in document.mimetype %}
                <iframe class="half-pad-left" src="{{ asset('libs/pdfjs/web/viewer.html') }}?file={{ (asset('data/') ~ document.fichier)|url_encode }}" frameborder="0">
                </iframe>         
                {% else %}
                <div class="container centered large charcoal-bg" style="height: calc(100vh - 140px); overflow:hidden;">
                    <p class="large white triple-gapped triple-pad-top align-center">{{ document.nom }}</p>
                    <div class="one third skip-one triple-padded"><img class="one whole triple-gap-top" src="{{ asset('img/file-icons/') ~ tools.file_icon(document.mimeType)|trim }}"/></div>
                </div>             
                {% endif %}
            {% endif %}
 
        </div>
    </div>
    <div class="absolute top right triple-gapped">
        <a class="round button" style="z-index:10; opacity: 0.66;" href="{{ path('document_fullscreen', { 'id': document.id }) }}" title="Plein écran"><i class="icon-fullscreen icon-2x"></i></a>
        <a class="round button" style="z-index:10; opacity: 0.66;" href="{{ path('document_detail', { 'id': document.id }) }}" title="Voir le détail"><i class="icon-info-sign icon-2x"></i></a>
        <a class="round button" style="z-index:10; opacity: 0.66;" href="{{ path('chantier_show', { 'slug': document.chantier.slug }) }}" title="Retour à la page d'accueil du chantier"><i class="icon-reply icon-2x"></i></a>
    </div>

{% endblock %}
