{% import 'tools.html.twig' as tools %}

{% extends 'demo.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/dropzone.css') }}" />
{% endblock %}

{% block headerscripts %}
    <script type="text/javascript" src="{{ asset('/js/dropzone.js') }}"></script>
{% endblock %}

{% block body %}

<div class="one whole container centered">
    <div class="one whole white-bg bordered">
        <div class="row">
            <div class="one whole padded">
                <a class="round button info" href="{{ path('chantier_show', { 'slug': dossier.chantier.slug }) }}" title="Retour à la page d'accueil du chantier"><i class="icon-reply"></i>&nbsp;&nbsp;Retour</a>
                <a class="round button alert" href="{{ path('document_index', { 'slug': dossier.chantier.slug }) }}" title="Liste de tous les documents"><i class="icon-copy"></i>&nbsp;&nbsp;Documents</a>
            </div>
        </div>
        <div class="one whole padded">
            <div class="row">
                <div class="box asphalt half-gap-bottom">
                    <img class="pull-left pad-right" src="{{ asset('img/file-icons/folder-home.png') }}"style="position: relative; top:-6px;"/>
                    {% for parent in dossier.parents|reverse %}
                        {% if loop.first %}
                            {% if parent.nom != dossier.chantier.nom %}
                                <a href="{{ path('dossier_chantier', { 'slug': dossier.chantier.slug }) }}" title="{{ dossier.chantier.nom }}">{{ dossier.chantier.nom }}</a>
                                &nbsp;&#9654;&nbsp;
                            {% endif %}
                        {% endif %}
                        {% if not loop.last %}
                            <a href="{{ path('dossier_show', { 'id': parent.id }) }}" title="{{ parent.nom }}"><span class="white">{{ parent.nom }}</span></a>
                            &nbsp;&#9654;&nbsp;
                        {% else %}
                            <span>{{ parent.nom }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="box half-padded">
                <div class="row centered white-bg bordered half-padded" style="min-height: 150px;">
                    {% for sousdossier in dossier.sousdossiers %}
                        <div class="one sixth three-up-small-tablet two-up-mobile padded align-center">
                            <a href="{{ path('dossier_show', { 'id': sousdossier.id }) }}" title="{{ sousdossier.nom }}"><img src="{{ asset('img/file-icons/folder.png') }}"/></a>
                            <p data-truncate="1" class="small">{{ sousdossier.nom }}</p>
                        </div>
                    {% endfor %}
                    {% for document in dossier.documents %}
                        <div class="one sixth three-up-small-tablet two-up-mobile padded align-center">
                            <a href="{{ path('document_show', { 'id': document.id }) }}" title="{{ document.nom }}"><img src="{{ asset('img/file-icons/') ~ tools.file_icon(document.mimeType)|trim }}"/></a>
                            <p data-truncate="1" class="small">{{ document.nom }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="one whole centered half-gap-top">
                <div class="one whole no-pad" Title="Glissez / déplacez ou cliquez pour télécharger des documents...">
                    <form id="btp40-dropzone" action="{{ oneup_uploader_endpoint('documents_chantier') }}" class="dropzone one whole info align-center" style="border:3px dashed; ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () { 

            Dropzone.options.btp40Dropzone = {
                params: {
                    // l'identifiant du chantier et du dossier parent sont passés en paramètre du formulaire
                    chantier: "{{ dossier.chantier.slug }}", 
                    parent: "{{ dossier.id }}"
                }, 
                init: function() {
                    this.on("sending", function(file, xhr, formData) {
                         // on ajoute dans le formulaire la date de modification du fichier original (UNIX epoch time)
                         formData.append("fileLastModified", file.lastModified);
                         formData.append("mimeType", file.type);
                    });
                    this.on("complete", function(file) {
                        if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                            location.reload();
                        }
                    });
                },                
                maxFilesize: 5, // MB
                resizeHeight: 1280,
                acceptedFiles: 'image/jpeg, image/png, image/bmp, image/gif, application/pdf, application/x-pdf, audio/x-wav, audio/mpeg'
//                acceptedFiles: 'image/jpeg, image/png, image/bmp, image/gif, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, application/x-pdf, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/x-7z-compressed, application/zip, application/x-zip-compressed, multipart/x-zip, audio/x-wav, audio/mpeg'
            };
        });

    </script>
{% endblock %}
